* { padding: 0; margin: 0; } 
body { background: #F5F5F5 url(../img/background.png); font-family: 'Roboto Condensed', sans-serif; font-size: .90em; padding: 0; margin: 0; }
img { border: none; }
a { color: #777; text-decoration: none; }
a:hover { color: #555; text-decoration: none; }
a.svg { position: relative; display: inline-block; }
a.svg:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left:0; }
li { color: #036DA7; list-style-type: none; margin-bottom: 6px; }
#wrap { margin: 0 auto; background: #fff; }
#header { height: 80px; background: #222; margin: 0 0 10px 0; }
#header a { color: #fff; text-decoration: none; }
#header h1 {color: #fff; font-size: 2em; padding: 20px 0 0 20px; font-weight: 100; }
#header h2 {color: #eee; font-size: 1.2em; padding: 0 0 0 20px; font-weight: 100; }
#headerlinks {float: right; padding: 30px 20px 0 0; }
#headerlinks a {color:#fff; padding: 0 10px; }
#headerlinks a:hover {color:#fff; }
#sidebar { width: 150px; float: right; background: #FFF; color: #666; margin-right: 20px; } 
#sidebar .box { margin-bottom: 10px; padding: 10px 3px; color: #666; }
#sidebar h2 { font-size: 1.2em; font-weight: 100; padding: 3px; }
#content { margin-left: 20px; margin-right: 190px; text-align: justify; color: #777; }
#content h2 { color: #555; font-size: 1.4em; font-weight: 200;}
#content p { margin: 10px 0 20px 0; line-height: 25px;}
#footer { clear: both; color: #eee; background: #222; text-align: left; margin: 20px 0px 0px 0px; padding: 25px 20px; font-size: .9em; }
#footer a { color : #ddd; text-decoration: none; }
.def-span {}
.eng {color:#96b596; }
.fe {color:#ccc; vertical-align: sub; }
.field-name {color:#ccc; font-weight: bold; }
.ill-span {font-style: italic; }
.ill-eng-span {color:#555; }
.name-span {color:#1b1b1b; font-weight: bold; }
.post-span {color:#ccc; font-size:12px;}
.post-img{margin-top:10px;}