* { padding: 0; margin: 0; } 
body { background: #F5F5F5 url(img/background.png); font-family: 'Roboto Condensed', sans-serif; font-size: .90em; padding: 0; margin: 0; }
img { border: none; }
a { color: color:#39c; font-weight:400; text-decoration: none; }
a:hover { color: #555; text-decoration: none; }
a.svg { position: relative; display: inline-block; }
a.svg:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left:0; }
a.anchor {display: block; position: relative; top: -100px; visibility: hidden; }
li { color: #036DA7; list-style-type: none; margin-bottom: 6px; }
#wrap { margin: 0 auto; background: #fff; }
#header { height: 80px; width: 1200px; background: #39c; background-size: contain; margin: 0 0 10px 0; position: absolute; top: 0; }
/* #header .no-svg {background-image: url(https://github.com/olesar/olesar.github.io/raw/master/masterskie/img/background.png); } */
#header a { color: #fff; text-decoration: none; }
#header h1 {color: #fff; font-size: 2em; padding: 20px 0 0 20px; font-weight: 100; }
#header h1 a {color: #fff; font-size: 2em; padding: 20px 0 0 20px; font-weight: 100; }
#header h2 {color: #eee; font-size: 1.2em; padding: 0 0 0 20px; font-weight: 100; }
#headerlinks {float: right; padding: 30px 20px 0 0; }
#headerlinks a {color:#fff; padding: 0 10px; }
#headerlinks a:hover {color:#fff; }
#sidebar { width: 150px; height:100%; background: #FFEEB5; color: #666; margin-right: 20px; position: fixed; top: 0; right: 0; overflow-y: auto; } 
#sidebar .box { margin-bottom: 10px; padding: 10px 3px; color: #666; }
#sidebar h2 { font-size: 1.2em; font-weight: 100; padding: 3px; }
#sidebar h2 a { color: color:#777; font-weight:400; text-decoration: none; }
#content { margin-left: 20px; margin-right: 190px; margin-top: 80px; text-align: justify; color: #777; }
#content h2 { color: #555; font-size: 1.4em; font-weight: 200;}
#content p { margin: 10px 0 20px 0; line-height: 25px;}
#footer { clear: both; background: #FFEEB5; color: #666; text-align: left; margin: 20px 0px 0px 0px; padding: 25px 20px; font-size: .9em; }
#footer a { text-decoration: none; }
.pictureshop {height:338px; width:600px; }
.def-span {}
.field-name {color:#ccc; font-weight: bold; }
.post-span {font-size: 0.8em;}
